@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 50 10% 95%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 50 20% 90%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 50 20% 90%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 50 20% 90%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border box-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

::selection {
  @apply text-primary-foreground bg-primary;
}

@layer components {
  h1, .h1 {
    @apply scroll-m-20 text-[2.5rem] leading-[3rem] md:text-5xl font-extrabold tracking-tight;
  }

  h2, .h2 {
    @apply scroll-m-20 mt-16 mb-6 text-4xl font-semibold tracking-tight first:mt-0;
  }

  h3, .h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }

  h4, .h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }

  p, .p {
    @apply leading-6 text-muted-foreground;
  }

  .form-group{
    @apply grid gap-base sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2;
  }

  .text-link {
    @apply hover:text-primary;
  }

  .bg-section-secondary {
    @apply bg-secondary dark:bg-secondary/30;
  }

  .bg-pattern {
    background-image: radial-gradient(#3a72ed 1px, transparent 1px), radial-gradient(#3a72ed 1px, transparent 1px);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
  }

  .bg-section-pattern-2 {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='40' height='40' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(45)'%3E%3Crect width='100%25' height='100%25' fill='rgba(30, 41, 59, 0.1)'/%3E%3Ccircle cx='40' cy='20' r='0.5' fill='rgba(2, 8, 23,1)'/%3E%3Ccircle cx='0' cy='20' r='0.5' fill='rgba(2, 8, 23,1)'/%3E%3Ccircle cx='8' cy='20' r='0.5' fill='rgba(2, 8, 23,1)'/%3E%3Ccircle cx='16' cy='20' r='0.5' fill='rgba(2, 8, 23,1)'/%3E%3Ccircle cx='24' cy='20' r='0.5' fill='rgba(2, 8, 23,1)'/%3E%3Ccircle cx='32' cy='20' r='0.5' fill='rgba(2, 8, 23,1)'/%3E%3Ccircle cx='0' cy='20' r='1' fill='rgba(163, 230, 53,0.5)'/%3E%3Ccircle cx='40' cy='20' r='1' fill='rgba(163, 230, 53,0.5)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ")
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
}

.animate-bounce-slow {
  animation: bounce 3s ease infinite;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(-25%);
  }

  50% {
    transform: translateY(0);
  }
}